.countWrap {
  border: 1px solid var(--color-gray-200);
  display: inline-flex;
}
.countButton {
  width: 34px;
  height: 34px;
  border: 0;
  cursor: pointer;
}
.countButton:disabled {
  cursor: not-allowed;
}
.countInput {
  width: 50px;
  border: 0;
}
