:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-secondary: #6b90dc;
  --color-gray-100: #f1f2f4;
  --color-gray-200: #dee0e3;
  --color-gray-300: #999999;
  --color-gray-400: #333333;
  --color-primary-100: #03c75a;
  --color-primary-200: #0aae4f;
}
